
@{
    ViewBag.Title = "Aboutus";
}

<link href="~/Content/css/aboutus.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

@if (Session["UserID"] != null)
{

    <img class="aboutbg1" src="~/lib/images/aboutbg1.png" />
    <img class="aboutbg2" src="~/lib/images/aboutbg2.png" />
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12">
                <p class="about-header">
                    ABOUT US !
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p class="about-des">
                    เป้าหมายหลักของเรา คือ การใช้เทคโนโลยีเพื่อเข้ามาจัดการระบบซัพพลายเชนด้านสินค้าเกษตรให้มีประสิทธิภาพ
                    และมีความโปร่งใส ทำให้เกษตรกรและผู้ผลิตอาหารสามารถเข้าถึงข้อมูลรวมถึงขายสินค้าได้ในราคาที่ดีขึ้น
                    ทำให้ร้านอาหาร โรงแรมและผู้ผลิตอาหารลสามารถซื้อวัตถุดิบคุณภาพในราคาที่เหมาะสม โดยเราจะพัฒนาเทคโนโลยี
                    ซัพพลายเชนแพลตฟอร์มตั้งแต่ต้นน้ำจนถึงปลายน้ำ เพื่อให้เกิดราคาที่เป็นธรรม มีความโปร่งใสและมีสินค้าที่มีคุณภาพ
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p class="about-smile">
                    “ รอยยิ้มของพวกคุณ คือพลังของเรา ”
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="aboutpic" src="~/lib/images/aboutpic1.png" />
            </div>
            <div class="col-4">
                <img class="aboutpic" src="~/lib/images/aboutpic2.png" />
            </div>
            <div class="col-4">
                <img class="aboutpic" src="~/lib/images/aboutpic3.png" />
            </div>
        </div><br />

        <div class="row justify-content-center">
            <div class="about-img-ourteam" style="background-image:url(../lib/images/bgourteam.png);">

                <p class="about-our-header">
                    OUR TEAM
                </p>
                <div class="grid-container-aboutus">
                    <div style="max-width:100%;" class="col-3">
                        <div class="card">
                            <img class="img-team" src="~/lib/images/faii.jpg" />
                            <p class="about-duty">
                                Backend
                            </p>
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/fbicon.png" />
                                Nichkamon Promputta
                            </p><br />
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/mailicon.png" />
                                fainichkamon@gmail.com
                            </p><br />
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/telicon.png" />
                                0643956141
                            </p>
                        </div>
                    </div>
                    <div style="max-width:100%;" class="col-3">
                        <div class="card">
                            <img class="img-team" src="~/lib/images/earth.jpg" />
                            <p class="about-duty">
                                Backend
                            </p>
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/fbicon.png" />
                                Songklod Duangkaew
                            </p><br />
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/mailicon.png" />
                                chongklod18@gmail.com
                            </p><br />
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/telicon.png" />
                                0612786089
                            </p>
                        </div>
                    </div>
                    <div style="max-width:100%;" class="col-3">
                        <div class="card">
                            <img class="img-team" src="~/lib/images/job.jpg" />
                            <p class="about-duty">
                                Frontend
                            </p>
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/fbicon.png" />
                                Dechit Nanthavadee
                            </p><br />
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/mailicon.png" />
                                noojob001@outlook.com
                            </p><br />
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/telicon.png" />
                                0992845594
                            </p>
                        </div>
                    </div>
                    <div style="max-width:100%;" class="col-3">
                        <div class="card">
                            <img class="img-team" src="~/lib/images/somo.jpg" />
                            <p class="about-duty">
                                Frontend
                            </p>
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/fbicon.png" />
                                Papitchaya Withaisong
                            </p><br />
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/mailicon.png" />
                                channelpool@gmail.com
                            </p><br />
                            <p class="about-teamdetail">
                                <img class="aboutimgicon" src="~/lib/images/telicon.png" />
                                0902505482
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}
