
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div>
    <h2>Welcome : <a href="#">Admin</a></h2><br />
    <div>
        <h1><a href="/Item/Index">Store</a></h1>
    </div>
    <div>
        <h1><a href="/Register/Data">Show DATA</a></h1>
    </div>
    <a href="/Login/Logout">Logout</a>
</div>

