
@{
    ViewBag.Title = "EditProfile";
}

<link href="~/Content/css/profileuser.css" rel="stylesheet" />
<script src="~/Scripts/js/navbar.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link href="~/Content/css/navbar.css" rel="stylesheet" />
<header class="main_menu home_menu topnav">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="logo" href="/Home/Index"><img class="img-logo" src="~/lib/images/semilogo.png" alt="" loading="lazy"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="navss " href="/Login/Home">HOME</a>
                    </div>
                    <div class="nav-item">
                        <a class="navss" href="/Login/index">SHOP</a>
                    </div>
                    <div class="nav-item">
                        <a class="navss" href="/Login/Aboutus">ABOUT</a>
                    </div>
                    <div class="nav-item">
                        <a class="navss" href="/Login/Contact">CONTACT</a>
                    </div>
                    <div class="nav-item topnav-right">
                        @* <a class="navs" href="/Shop/Order"><i style="font-size:12px;" class='fas fa-shopping-cart'></i></a>*@
                        <a class="navsu" href="/Login/Profile" style="font-size:12px;">UserXXXX</a>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card1">
                <div class="container">
                    <center>
                        <img class="imgpersonal" src="~/lib/images/test.jpg" /><br />
                        <a class="changeimage" href="#">แก้ไขรูปภาพ</a><br /><br />
                        <a href="/Login/Profile" class="profilelink">ข้อมูลส่วนตัว</a><br /><br /><br />
                        <a href="/Login/History" class="profilelink">รายการสั่งซื้อ</a><br /><br /><br />
                        <a asp-action="logout" class="profilelink">ออกจากระบบ</a><br />

                    </center>
                </div>
            </div>
        </div>

        <div class="col-9">
            <div class="card2">
                <div class="container">
                    <p class="hello">
                        Hello,
                    </p>
                    <p class="profilenameID">
                        INEEDSLEEP
                    </p><br />
                    <p class="profilepersonal">
                        ข้อมูลส่วนตัว
                    </p><br /><br />
                    <form asp-action="Personal" method="post">
                        <p class="profilepersonaldetail">
                            วันเกิด
                        </p>
                        <input type="date" class="inputchangepersonal form-control" /><br /><br />
                        <p class="profilepersonaldetail">
                            เบอร์ติดต่อ
                        </p>
                        <input type="number" class="inputchangepersonal form-control" /><br /><br />
                        <p class="profilepersonaldetail">
                            อีเมล
                        </p>
                        <input type="email" class="inputchangepersonal form-control" /><br />
                        <input type="submit" class="submitchangepersonal" value="ยืนยันการแก้ไข" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

