
@{
    ViewBag.Title = "History";
}
<link href="~/Content/css/profileuser.css" rel="stylesheet" />

@if (Session["UserID"] != null)
{
    <img class="bgprofile1" src="~/lib/images/bgprofile1.png" />
    <img class="bgprofile2" src="~/lib/images/bgprofile2.png" />
    <div class="container"  style="margin-top: 10%">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card1">
                    <div class="container">
                        <center>
                            <p class="profilenamecard1">Hello : @Session["UserName"]</p><br />
                            <a href="/Login/Profile" class="profilelink">ข้อมูลส่วนตัว</a><br /><br /><br />
                            <a href="/Login/History" class="profilelink">รายการสั่งซื้อ</a><br /><br /><br />
                            <a href="/Login/Logout" class="profilelink">ออกจากระบบ</a><br />
                        </center>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <div class="card2">
                    <div class="container">
                        <p class="hello">
                            Hello,
                        </p>
                        <p class="profilenameID">
                            INEEDSLEEP
                        </p><br />
                        <table class="ordertable">
                            <thead>
                                <tr>
                                    <th class="orderth">
                                        <p class="profilepersonal">
                                            วันที่สั่งซื้อ
                                        </p>
                                    </th>
                                    <th class="orderth">
                                        <p class="profileNoOrder">
                                            หมายเลขคำสั่งซื้อ
                                        </p>
                                    </th>
                                    <th class="orderth">
                                        <p class="profileOrderdetail">
                                            ลำดับ
                                        </p>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @*@foreach (var item in Model)*@
                                @*{*@
                                <tr>
                                    <td>
                                        <p class="orderlistdetail1">
                                            @Session["OrderDate"]
                                        </p>
                                    </td>
                                    <td>
                                        <p class="orderlistdetail2">
                                            @Session["OrderNo"]
                                        </p>
                                    </td>
                                    <td>
                                        <p class="orderlistdetail3">
                                            @Session["OrderId"]
                                        </p>
                                    </td>
                                </tr>

                                @*}*@
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
    </div>
}