
@{
    ViewData["Title"] = "Login Page";
}

<link href="~/Content/css/login.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="hero" style="background-image:url(../lib/images/bglogin3.png)">

    <div class="container">
        <div class="form-box">
            <div class="row justify-content-center">
                <div class="col-2">
                    <br /><br />
                    <div class="button-box">
                        <div id="btn"></div>
                        <a style="text-decoration:none; border:0; outline:none; color:inherit;" type="button" class="toggle-btn" href="/Login/Index">Login</a>
                        <a style="text-decoration:none; border:0; outline:none; color:inherit;" class="toggle-btn" onclick="SignUp()">Register</a>
                    </div><br />
                </div>
            </div>
            <div style="margin-top:5%;" class="row justify-content-center">
                <div class="col-12">
                    <form class="input-grouplogin" asp-action="Privacy">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div><br /><br />
                        <input type="text" class="input-field" placeholder="Username" />
                        <input style="margin-top:5%;" type="password" class="input-field" placeholder="Password" />
                        <a href="/Login/Home" style="margin-top:15%;text-align:center;text-decoration:none; border:0; outline:none; color:inherit" type="submit" class="submit-btn">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    @*Modal register*@
    <div class="modal fade" id="ShowModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <div id="message1">
                        <div class="alert alert-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Successfull! Your Registration is complete</strong>
                        </div>
                    </div>
                    <div id="message2">
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            <strong>Error! Your Registration is Not complete</strong>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-box-regis">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <form class="input-group" asp-action="Privacy">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div><br /><br />
                                    <input style="margin-top:3%;" type="text" class="input-field" placeholder="Name" />
                                    <input style="margin-top:3%;" type="text" class="input-field" placeholder="Email" />
                                    <input type="text" class="input-field" placeholder="Username" />
                                    <input style="margin-top:3%;" type="text" class="input-field" placeholder="Password" />
                                    <input style="margin-top:3%;" type="text" class="input-field" placeholder="Confirm Password" />
                                    <input style="margin-top:3%;" type="text" class="input-field" placeholder="Phone number" />
                                    <input style="margin-top:3%;" type="text" class="input-field" placeholder="Address" />
                                    <button style="margin-top:11%;" type="submit" class="submit-btn">Register</button>
                                </form>
                            </div>
                        </div>
                    </div><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SignUp() {
        $("#ShowModal").modal();
        $("#message1").hide();
        $("#message2").hide();

    }
    function SaveForm() {

    }

    $("#msg").hide();
    function Login() {
        window.location.href = "/Login/Home";
    }
</script>

