
@{
    ViewData["Title"] = "Login Page";
}

<link href="~/Content/css/login.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="hero" style="background-image:url(../lib/images/bglogin3.png)">

    <div class="container">
        <div class="form-box">
            <div class="row justify-content-center">
                <div class="col-2">
                    <br /><br />
                    <div class="button-box">
                        <div id="btn"></div>
                        <a style="text-decoration:none; border:0; outline:none; color:inherit;" class="toggle-btn">Login </a>
                        <a style="text-decoration:none; border:0; outline:none; color:inherit;" class="toggle-btn" onclick="SignUp()">Register</a>
                    </div><br />
                </div>
            </div>
            <div style="margin-top:5%;" class="row justify-content-center">
                <div class="col-12">
                    <form class="input-grouplogin" id="loginForm">
                        <div id="msg"><ul style="color:red;">Invalid Username Or Password</ul></div>
                        <input class="input-field" type="text" name="U_Name" id="usernamelog" placeholder="UserName" />
                        <input name="U_Password" id="pass" style="margin-top:5%;" type="password" class="input-field" placeholder="Password" />
                        <a style="margin-top:15%;text-align:center;text-decoration:none; border:0; outline:none; color:inherit" class="submit-btn" onclick="Login()">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Modal register*@
    <div class="modal fade" id="ShowModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <div id="message1">
                        <div class="alert alert-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            <strong>Successfull! Your Registration is complete</strong>
                        </div>
                    </div>
                    <div id="message2">
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            <strong>Error! Your Registration is Not complete</strong>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-box">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <h4 class="text-center">Register Form</h4>
                                <form class="input-group" id="Registration">
                                    <input name="U_Fname" id="user" style="margin-top:3%;" type="text" class="input-field" placeholder="Name" />
                                    <input name="U_Email" id="email" style="margin-top:3%;" type="email" class="input-field" placeholder="Email" />
                                    <input name="U_Name" id="username" type="text" class="input-field" placeholder="Username" />
                                    <input name="U_Password" id="password" style="margin-top:3%;" type="password" class="input-field" placeholder="Password" />
                                    <input name="U_Address" id="address" style="margin-top:3%;" type="text" class="input-field" placeholder="Address" />
                                    <input name="U_Phone" id="phone" style="margin-top:3%;" type="tel" class="input-field" placeholder="Phone number" />
                                    <button style="margin-top:11%;margin-bottom:5%;" type="submit" class="submit-btn" onclick="SaveForm()">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SignUp() {
        $("#ShowModal").modal();
        $("#message1").hide();
        $("#message2").hide();

    }
    function SaveForm() {
        var fname = $("#user").val();
        var name = $("#username").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var address = $("#address").val();
        var phone = $("#phone").val();

        if (fname == "" || name == "" || password == "" || email == "" || address == "" || phone == "") {
            $("#message1").hide();
            $("#message2").show();
            return false;
        }

        var data = $("#Registration").serialize();
        $.ajax({
            type: "post",
            data: data,
            url: "/Login/SaveData",
            success: function (result) {

                $("#message1").show();
                $("#message2").hide();
                $("#Registration")[0].reset();
            }
        });
    }

    $("#msg").hide();
    function Login() {
        var data = $("#loginForm").serialize();
        var name = $("#usernamelog").val();
        $.ajax({
            type: "post",
            url: "/Login/CheckValidUser",
            data: data,
            success: function (result) {
                if (result == "Fail") {
                    $("#loginForm")[0].reset();
                    $("#msg").show();
                }
                else {
                    if (name == "admin") {
                        window.location.href = "/Admin/Index";
                    }
                    else {
                        window.location.href = "/Home/Index";
                    }

                    $("#msg").hide();
                }
            }
        })
    }
</script>

