@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/css/Home.css" rel="stylesheet" />
<script src="~/Scripts/js/Home.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script src="~/Scripts/js/navbar.js"></script>
<link href="~/Content/css/navbar.css" rel="stylesheet" />
<header class="main_menu home_menu topnav">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <img class="img-logo" src="~/lib/images/semilogo.png" width="30" height="30" alt="" loading="lazy">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="navss " href="/Home/Index">HOME</a>
                    </div>
                    <div class="nav-item">
                        <a class="navss" href="/Home/Aboutus">ABOUT</a>
                    </div>
                    <div class="nav-item">
                        <a class="navss" href="/Login/Index">SHOP</a>
                    </div>
                    <div class="nav-item">
                        <a class="navss" href="/Home/Contact">CONTACT</a>
                    </div>
                    <div class="nav-item topnav-right">
                        <a class="navs" href="/Login/index">ลงชื่อเข้าสู่ระบบ</a>
                    </div>
                </div>
                @*<ul class="navbar-nav topnav-right">

                    </ul>*@
            </div>

        </nav>
    </div>
</header>
<div class="container-fluid">
    <div style="height:auto" class="row">
        <img style=" width:100%;" src="~/lib/images/Rectangle.png" />
        <p class="get">
            GET
        </p>
        <p class="perc">
            100%
        </p>
        <p class="natural">
            NATURAL
        </p>
        <p class="fresh">
            & FRESH FOOD
        </p>

        <img class="ban1" src="~/lib/images/homeveget.png" />
        <p class="fban1">
            ส่งตรงความ “สดใหม่” ถึงมือคุณ ใช้รถติดตั้งด้วยระบบห้องเย็น<br />
            เพื่อให้ลูกค้าได้รับสินค้าที่สดใหม่ มีคุณภาพ
        </p>

        <a href="/Login/Index" class="ban">order now &nbsp;<i style="font-size:1vw;padding-right:0;" class="fas fa-angle-right"></i> </a>

        <div class="scroll">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <p class="why">
            WHY CHOOSE US ?
        </p>
    </div>

    <div style="margin-top:23%;" class="row justify-content-center">
        <div class="col-4">
            <img class="cabbage" src="~/lib/images/cabbage.png" /><br />
            <p class="always">
                ALWAYS FRESH
            </p>
        </div>
        <div class="col-4">
            <img class="eclipse" src="~/lib/images/Elipse.png" />
            <img class="homehydro" src="~/lib/images/homehydro.png" />
        </div>
        <div class="col-4">
            <img class="varietyvet" src="~/lib/images/varietyvet.png" />
            <p class="variety">
                VARIETY OF PRODUCT
            </p>
        </div>
    </div>

    <div style="margin-top:12%;" class="row justify-content-center">
        <div class="col-4">
            <img class="homeleaf" src="~/lib/images/homeleaf.png" /><br />
            <p class="leaf">
                100% NATURAL
            </p>
        </div>
        <div class="col-4">
            <img class="homecar" src="~/lib/images/homecar.png" /><br />
            <p class="car">
                FAST&nbsp;DELIVERY
            </p>
        </div>
    </div>

    <div style="margin-top:12%;" class="row justify-content-center">
        <div class="col-4">
            <img class="homemedal" src="~/lib/images/homemedal.png" /><br />
            <p class="medal">
                PREMIUM QUALITY
            </p>
        </div>
        <div class="col-4">
            <img class="homesup" src="~/lib/images/homesup.png" /><br />
            <p class="support">
                ACTIVE&nbsp;24&nbsp;HOURS
            </p>
        </div>
    </div>

</div>
<br />
<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="useeasy">
                ใช้งานง่าย แค่ 3 ขั้นตอน
            </p>
        </div>
    </div><br /><br />
    <div style="margin-top:20%;" class="row justify-content-center">
        <div class="col-4">
            <img class="homecir1" src="~/lib/images/homecir1.png" />
            <img class="homebuy" src="~/lib/images/homebuy.png" />
            <p class="cir1">
                สั่งซื้อสินค้า
            </p>
        </div>
        <div class="col-4">
            <img class="homecir2" src="~/lib/images/homecir2.png" />
            <img class="homepay" src="~/lib/images/homepay.png" />
            <p class="cir2">
                ชำระเงิน
            </p>
        </div>
        <div class="col-4">
            <img class="homecir3" src="~/lib/images/homecir3.png" />
            <img class="homedeli" src="~/lib/images/homedeli.png" />
            <p class="cir3">
                รอรับสินค้าที่บ้าน
            </p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <p class="ourproduct">
                OUR PRODUCTS
            </p>
        </div><br />
    </div>
    <div class="row justify-content-center">

        <div class="col-6">
            <a href="/Login/Index">
                <img class="homevegetban3" src="~/lib/images/homevegetban3.png" />
            </a>
            <img class="vegetban3" src="~/lib/images/vegetban3.png" />
        </div>
        <div class="col-6">
            <a href="/Login/Index">
                <img class="homemeatban3" src="~/lib/images/homemeatban3.png" />
            </a>
            <img class="meatban3" src="~/lib/images/meatban3.png" />
        </div>

    </div>
</div>

<footer>
    <img class="rectangle2" src="~/lib/images/Rectangle2.png" />
    <img class="footersemicolon" src="~/lib/images/semicolonfooter.png" />
    <img class="homelocation" src="~/lib/images/homelocation.png" />
    <img class="bangkok" src="~/lib/images/Bangkok.png" />
    <img class="homephone" src="~/lib/images/homephone.png" />
    <img class="phone" src="~/lib/images/phone.png" />
    <img class="homemail" src="~/lib/images/homemail.png" />
    <img class="footermail" src="~/lib/images/footermail.png" />
</footer>