
@{
    ViewBag.Title = "Login";
}

@if (Session["UserID"] != null)
{
    <p class="navs">Welcome :</p>
    <a class="navs" href="/Login/Profile">@Session["UserName"]</a>
    <a class="navs" href="/Login/Logout">LOGOUT</a>
}
else
{
    <a class="navs" href="/Login/index">ลงชื่อเข้าสู่ระบบ</a>
}

