
@{
    ViewBag.Title = "Login";
}

@if (Session["UserID"] != null)
{
    <div class="nav-item">
        <a class="navss" href="/Shop/Index">SHOP</a>
    </div>
    <div class="nav-item" style="float:right">
        <div>
            <span>Hello : <a class="navss" href="/Login/Profile">@Session["UserName"]</a></span>
        </div>
        <div>
            <a class="navss" href="/Login/Logout">Logout</a>
        </div>
    </div>
}
else { 
<div class="nav-item topnav-right">
    <a class="navs" href="/Login/index">ลงชื่อเข้าสู่ระบบ</a>
</div>
}

