.font{
    font-family: Kanit;
    padding-top: 50px;
    
}
.font2 {
    font-family: Kanit;
    font-size: 22px;
    margin-left: 80%;
}
.fontreceipt {
    color: #4C251B;
    font-family:Kanit;
    font-size:25px;
    padding-top:50px;
    /*font-style:oblique;*/
}
.font3{
    font-family:Kanit;
}
.detailuser1{
    display:inline;
    float:left;
}
.detailuser2 {
    display: inline;
    float:right;
}
.detailuser3 {
    display: inline;
    float: right;
}
.detailnum1 {
    display: inline;
    float: left;
    font-size:15px
}
.detailnum2 {
    display: inline;
    margin-left: 40%;
    float: right;
    font-size:13px;
}
.fontprice{
    display: inline;
    margin-left: 30%;
    float: right;
}
.table1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #000000;
}
.top{
    background-color:#000000;
    color:#ffffff;
    text-align:center;
}
.intable1 {
    text-align: center;
    padding: 8px;
}
.topic:nth-child(even) {
    background-color: #f2f2f2
}
hr.line {
    border: 5px solid #435E39;
}
.logo {
    width: 30%;
    margin-left: 2%;
    margin-top: 1%;
}
.card1 {
    box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: auto;
    margin-left: 13%;
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: #ffffff;
}
.card2{
    width: 100%;
}
.card3 {
    width: 100%;
    height:250px;
    margin-top:5%;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 20px;
}
.card4 {
    width: 100%;
    height:150px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
}
.card5 {
    width: 100%;
    height: 150px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
}
.cardprice {
    width: 100%;
}
.cardTY {
    width: 80%;
    margin-left: 5%;
}
.cardtable{
    width:80%;
    margin-left:10%;
}
a.payment{
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 30px;
    text-align: center;
    color: #4C251B;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 2px solid #4C251B;
    cursor: pointer;
    outline: none;
    margin-left:25%;
    padding: 10px;
}
    a.payment:hover {
        background-color: #4C251B;
        color: #FFFFFF;
        outline: none;
        padding: 10px;
    }
@media screen and (max-width:1199px){
    .logo {
        width: 30%;
        margin-top: 3%;
    }
}
@media screen and (max-width:991px) {
    .detailuser3{
        font-size:12px;
    }
    .card5{
        height:250px;
    }
    .fontprice{
        margin-left:1%;
    }
    .cardprice{
        width:100%;
    }
}
@media screen and (max-width:949px) {
    .detailuser3 {
        margin-left: 25px;
        float: left;
    }

    .detailuser2 {
        margin-left: 20%;
    }

    .card3 {
        height: 270px;
    }
    .fontprice {
        margin-left: 10%;
    }
    .font2 {
        margin-left: 70%;
    }
}
@media screen and (max-width:767px) {
    .detailuser3 {
        font-size: 5px;
        margin-left: -5px;
    }

    .detailuser2 {
        font-size: 10px;
    }

    .detailuser1 {
        font-size: 13px;
    }

    .top {
        font-size: 13px;
    }

    .fontprice {
        margin-left: 1px;
        font-size: 10px;
    }
    .font2 {
        margin-left: 65%;
        font-size: 20px;
    }
    .logo {
        width: 40%;
        margin-top: 8%;
    }
}
@media screen and (max-width:570px) {
    .detailuser1{
        font-size:10px;
    }
    .detailnum1{
        font-size:10px;
    }
    .detailnum2{
        font-size:10px;
    }
    .fontprice{
        font-size:10px;
    }
    .card3{
        height:220px;
    }
    .logo{
        width:40%;
    }
}
@media screen and (max-width:519px) {
    .detailuser2 {
        margin-left: 10%;
    }
    .font2 {
        font-size: 18px;
        margin-top: 5%;
    }
    .top{
        font-size:11px;
    }
    .intable1{
        font-size:11px;
    }
    .card5{
        height:210px;
    }
}
@media screen and (max-width:480px){
    .card5{
        height:230px;
    }
    .card4{
        height:120px;
    }
}
@media screen and (max-width:475px) {
    .card5 {
        height: 300px;
    }
}
@media screen and (max-width:414px) {
    .cardprice {
        width: 130%;
    }
    .card5 {
        height: 300px;
    }
}
@media screen and (max-width:411px) {
    .cardprice {
        width: 130%;
        margin-left: -20%;
    }
    .card5 {
        height: 250px;
        width: 80px;
        margin-left: -15px;
    }
    .fontprice{
        font-size:8px;
    }
}
@media screen and (max-width:375px) {
    .cardprice{
        width:150%;
    }
}
@media screen and (max-width:360px) {
    .card5 {
        height: 250px;
        width: 80px;
        margin-left: -15px;
    }
}
@media screen and (max-width:320px) {
    .card4{
        height:150px;
    }
    .card3{
        height:300px;
    }
    .card5{
        margin-left:-30px;
    }
    .cardprice {
        width: 190%;
        margin-left: -35px;
    }
    .editfont1{
        font-size:15px;
    }
    .editfont2{
        font-size:10px;
    }
}
@media screen and (max-width:290px) {
    .editfont1 {
        font-size: 15px;
    }
    .editfont2 {
        font-size: 12px;
    }
    .card4 {
        height: 160px;
    }
    .card3 {
        height: 350px;
    }
    .card5 {
        margin-left: -40px;
    }
    .cardprice {
        width: 260%;
        margin-left: -40px;
    }
    .intable1 {
        font-size: 8px;
    }
    .top {
        font-size: 8px;
    }
    .cardtable {
        margin-left: 5%;
    }
}
@media screen and (max-width:280px) {
   .editfont1{
       font-size:15px;
   }
   .editfont2{
       font-size:12px;
   }
   .card4{
       height:160px;
   }
   .card3{
       height:350px;
   }
   .card5{
       margin-left:-40px;
   }
   .cardprice{
       width: 250%;
       margin-left: -40px;
   }
   .intable1{
       font-size:8px;
   }
   .top{
       font-size:8px;
   }
   .cardtable{
       margin-left:5%;
   }
}
@media print {
    a.payment {
        display: none;
    }
    h4 {
        display: none;
    }
}


