.font{
    font-family:Kanit;
    padding-top:50px;

}
.font2{
    font-family: Kanit;
    
}
.card1{
    width: 100%;
    border: 1px solid transparent;
    border-radius:15px;
    background-color: #EFD89A;
}
.card2{
    width: 80%;
    margin-left:10%;
}
.img1{
    padding-top:10px;
    padding-left:80px;
    padding-right:10px;
    padding-bottom:10px;
}
@media screen and (max-width: 1199px){
    .img1{
        padding-left: 130px;
        width:100%;
    }
    .img2{
        padding-left: 20px;
        margin-left:-15%;
        width:100%;
    }
    .select{
        margin-left:11.5%;
    }

}
@media (min-width: 992px) {
    .container{
        max-width: 900px;
    }
}
@media screen and (max-width: 767px) {
    .img1 {
        padding-left: 130px;
        width: 140%;
        margin-left: -35%;
    }

    .img2 {
        padding-left: 20px;
        margin-left: -25%;
        width: 140%;
    }
    .card1 {
        width: 100%;
    }
}
@media screen and (max-width: 765px) {
    .img1 {
        padding-left:130px;
        width:150%;
        margin-left:-50%;
    }

    .img2 {
        padding-left:20px;
        margin-left:-23%;
        width:150%;
    }

    .select {
        margin-left:11.5%;
    }
    .card1{
        width:94%;
    }
}
@media screen and (max-width: 558px) {
    .img1 {
        padding-left: 130px;
        width: 120%;
        margin-left: -80px;
    }

    .img2 {
        padding-left: 20px;
        margin-left: -15%;
        width: 120%;
    }

    .select {
        margin-left: 11.5%;
    }
    .card1 {
        width: 100%;
    }
}
@media screen and (max-width: 411px) {
    .img1 {
        padding-left: 130px;
        width: 150%;
    }

    .img2 {
        padding-left: 20px;
        margin-left: -40%;
        width: 150%;
    }
    .card1 {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .img1 {
        padding-left: 130px;
        width: 150%;
        margin-left: -90px;
    }

    .img2 {
        padding-left: 20px;
        margin-left: -35%;
        width: 150%;
    }
    .card1 {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .img1 {
        padding-left: 130px;
        width: 180%;
    }

    .img2 {
        padding-left: 20px;
        margin-left: -30%;
        width: 180%;
    }
    .select {
        margin-left: 1% !important;
        font-size: 12px;
    }

    h4 {
        font-size: 15px;
    }
    .card1{
        width:100%;
    }
   
}
@media screen and (max-width: 280px) {
    .select {
        margin-left: 1% !important;
        font-size: 12px;
    }
    h4{
        font-size:15px;
    }
    .con {
        width: 30% !important;
        margin-left: 20% !important;
    }
    .card1 {
        width: 100%;
    }
    
}
.img2{
    padding-top: 10px;
    padding-right: 100px;
    padding-left:40px;
    padding-bottom: 10px;
}
.con{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #00E241;
    color: #000000;
    width: 12%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 33%;
    margin-top: 2%;
}
a.cancel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #F8523B;
    color: #000000;
    width: 20%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    margin-left: 2%;
}
.con:hover{
    background-color: #79FA6E;
    
}
a.cancel:hover{
    background-color: #F57A64;
}
.boxnum1{
    margin-left:.5%;
    width:35px;
    font-family: Kanit;
    border-radius:5px;
}
.boxnum{
    font-family:Kanit;
    border-radius:5px;
    margin-top:.5%;
    width:170px;
}
.select{
    margin-left:9.5%;
    padding-top:.5%;
    padding-bottom:.5%;
    border-radius:5px;
    font-family:Kanit;
}
.modal-footer{
    border-top:0;
    display:block;
}
.modal-content{
    background-color:#435E39;
    border-radius:10px;
}

.modal-body{
    padding:0;
}
img.contactcorrect{
    width:10%;
    margin-top:4%;
}
p.contactmodal1{
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 200%;
    color: #FFFFFF;
    margin-top:1%;
}
p.contactmodal2{
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 200%;
    color: #FFFFFF;
}
.contactmodalbtn{
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: #435E39;
    color: #FFFFFF;
    font-family: Kanit;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9vw;
    line-height: 200%;
    padding-right:10px;
    padding-left:10px;
    outline:none;
    cursor:pointer;
    margin-left:32%;
}
.contactmodalbtn:hover{
    background-color:#FFFFFF;
    color:#435E39;
    outline:none;
}
.bg {
    height: 721px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

