/*Nav bar*/
.navnew {
    position: fixed;
    background: #EFD89A;
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}
.mybtn {
    border: 2px solid #435E39;
}
.collab {
    width: 100%;
    flex-basis: 100%;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-collab {
    flex-basis: 100%;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

a.navbarnew {
    display: inline;
    cursor: pointer;
    text-align: center;
    padding: 14px 16px;
    color: #435E39;
    font-size: 17px;
    text-decoration: none;
}

img.img-logo {
    width: 30%;
    height: auto;
    float:left;
}
a.logo{
    margin-right:-500px;
}
@media screen and (max-width:1628px) {
    .fontfoot {
        padding-left: 18% !important;
    }
}
@media screen and (max-width:1500px) {
    .fontfoot {
        padding-left: 15% !important;
    }
}
@media screen and (max-width:1400px) {
    .navss {
        margin-left: 30px;
        margin-right: -35px;
        font-size: 16px !important;
    }
    img.img-logo {
        margin-left:2.5%;
    }
    .footerss{
        margin-top:40%!important;
    }
}
@media screen and (max-width:1350px) {
    .navs {
        margin-right: 40%;
    }
    .fontfoot {
        padding-left: 13% !important;
    }
}

@media screen and (max-width:1250px) {
    .footerss {
        margin-top:43.5%!important;
    }
}
@media screen and (max-width:1200px) {

    img.img-logo {
        margin-left: -5%;
    }
    .navbar-nav {
        margin-left: 20%;
    }
    a.logo{
        margin-right:-700px;
    }
    .fontfoot {
        padding-left: 10% !important;
    }
    .col-4-footer {
        padding-left: 100px;
    }
}
@media screen and (max-width:1199px) {

    .navss {
        font-size: 1.4vw !important;
    }

    .navs{
        font-size: 1.4vw !important;
        margin-right:80%;
    }
}

@media screen and (max-width:1150px) {
    .footerss {
        margin-top:45.5%!important;
    }
}
@media screen and (max-width:1100px) {
    .footerss {
        margin-top: 47%!important;
    }
}

@media screen and (max-width:1030px) {
    img.img-logo {
        margin-left: 2%;
    }
    .navbar-nav {
        margin-left: 24%;
    }
    .navs {
        margin-right:-50%;
    }
}
@media screen and (max-width:1024px) {
    .fontfoot {
        padding-left: 8% !important;
    }
}
@media screen and (max-width:1000px) {
    .fontfoot {
        padding-left: 8% !important;
    }
    .footerss {
        margin-top:52%!important;
    }
}
@media screen and (max-width:992px) {
    .navs {
        margin-left:0%;
        margin-right:77% !important;
    }
    .navicon{
        margin-right:89%;
    }
}
@media screen and (max-width:950px) {
    .footerss {
        margin-top:54%!important;
    }
}
@media screen and (max-width:880px) {
    .footerss {
        margin-top: 54% !important;
    }
} 
@media screen and (max-width:850px) {
    .fontfoot {
        padding-left: 5% !important;
    }
}
@media screen and (max-width:800px) {
    .col-4-footer {
        padding-left: 50px;
    }
}
@media screen and (max-width:769px) {
    .navs{
        margin-right: 70%!important;
    }
    .footers {
        margin-top: 15%;
    }
}
@media screen and (max-width:680px) {
    .fontfoot {
        padding-left: 4% !important;
    }
}
@media screen and (max-width:580px) {
    .fontfoot {
        padding-left: 2.5% !important;
    }
    .font {
        font-size: 2.2vw;
    }

    .footers {
        margin-top: 20%;
    }

    .col-4-footer {
        padding-left: 30px;
    }
}
@media screen and (max-width:540px) {
    .navs {
        margin-right: 53% !important;
    }
    .navicon{
        margin-right:80%;
    }
}

@media screen and (max-width:415px) {
    .navs{
        margin-right: 42%!important;
    }
}
@media screen and (max-width:400px) {
    .col-4-footer {
        padding-left: 15px;
    }

    .font {
        font-size: 2.4vw;
    }
}

@media screen and (max-width:360px) {
    .navs {
        margin-left: 0%;
        margin-right:30% !important;
    }
    .navicon{
        margin-right:70%;
    }
    img.img-logo{
        width:20%;
        margin-left:10%;
    }
    .fontfoot {
        padding-left: .8% !important;
        font-size: 10px !important;
    }
}
@media screen and (max-width:320px) {
    .navs {
        margin-right: 22%!important;
    }

    img.img-logo {
        margin-left: 8%;
    }
}
@media screen and (max-width:280px) {
    .navs{
        margin-right: 16%!important;
    }

    .mybtn{
        width:10%;
        height:30px;
    }
}

.navs {
    border: 0px solid #EFD89A;
    font-size: 18px;
    font-family: Kanit;
    color: #435E39 !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
    text-decoration: none;
    width: 150px;
    display: inline;
}

.navss {
    border: 0px solid #EFD89A;
    font-size: 18px;
    font-family: Kanit;
    float: left;
    color: #435E39 !important;
    padding-top: 3px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
    text-decoration: none;
    margin-top:5px;
}
.navicon{
    border: 0px solid #EFD89A;
    font-size: 18px;
    font-family: Kanit;
    float: right;
    color: #435E39 !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
    text-decoration: none;
    display: inline;
}
.navs:hover {
    color: #ffffff !important;
    text-decoration:none;
}
.navss:hover {
    background-color: #435E39;
    border-radius: 1.5rem;
    color: #ffffff !important;
    font-weight: normal;
    text-decoration: none;
}
.topnav-right {
    float: right;
    margin-left:150%;
}
.contain {
    background-color: #EFD89A;
}
.footers {
    margin-top: 10%;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 80px;
    margin-bottom:-100%;
}
.footerss {
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 80px;
    margin-top: 39%;
    margin-bottom:-100%;
}

.iconfooter {
    display: inline;
    color: #435E39;
}
.font {
    font-family: Kanit;
    padding-top: 50px;
    color: #435E39;
    display: inline;
}
.fontfoot {
    text-decoration: none;
}
.fontfoot:hover {
        text-decoration: none;
        color: #435E39;
}
.col-4-footer {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 160px;
    margin-right: -5%;
}
