
@{
    ViewBag.Title = "Bill";
}

<link href="~/Content/css/bill.css" rel="stylesheet" />

@if (Session["UserID"] != null)
{

    <div class="container">
        <h4 class="fontreceipt text-center">Receipt</h4><br />

        <div class="card1">
            <div class="row justify-content-center">
                <div class="col-12">
                    <img class="logo" src="~/lib/images/semilogo.png" />
                </div>
            </div>
            <hr class="line" /><br />
            <h5 class="font3 text-center editfont1">รายละเอียดคำสั่งซื้อ</h5><br />
            <div class="card2">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card4">
                            <p class="font3 detailnum1">เลขที่ใบสั่งซื้อ:</p>
                            <p class="font3 detailnum2">001</p><br /><br />
                            <p class="font3 detailnum1">วันที่สั่งซื้อ:</p>
                            <p class="font3 detailnum2">01/01/01</p><br /><br />
                            <p class="font3 detailnum1">หมายเหตุ:</p>
                            <p class="font3 detailnum2"></p><br /><br />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card3">
                            <p class="font3 editfont1">ข้อมูลลูกค้า</p>
                            <p class="font3 detailuser1">ชื่อ</p>
                            <p class="font3 detailuser2">คุณ ปพิชญา วิไธสง</p><br /><br />
                            <p class="font3 detailuser1">ที่อยู่</p>
                            <p class="font3 detailuser2">22/8 44 Garden place ถนนพุทธบูชา ซ.พุทธบูชา 44 แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140</p><br /><br />
                            <p class="font3 detailuser1">เบอร์โทร</p>
                            <p class="font3 detailuser2">0902505482</p><br /><br />
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="cardtable">
                <table class="table1">
                    <tr class="topic">
                        <th class="font3 top">ลำดับ</th>
                        <th class="font3 top" style="width:50%">รายการ</th>
                        <th class="font3 top">จำนวน</th>
                        <th class="font3 top">ราคา</th>
                        <th class="font3 top">รวม</th>
                    </tr>
                    <tr class="topic">
                        <td class="intable1">1</td>
                        <td class="intable1">หมูสามชั้น</td>
                        <td class="intable1">1</td>
                        <td class="intable1">1</td>
                        <td class="intable1">1</td>
                    </tr>
                    <tr class="topic">
                        <td class="intable1">1</td>
                        <td class="intable1">Red coral</td>
                        <td class="intable1">1</td>
                        <td class="intable1">1</td>
                        <td class="intable1">1</td>
                    </tr>
                    <tr class="topic">
                        <td class="intable1">1</td>
                        <td class="intable1">ผักกาดขาวม่วงแดง</td>
                        <td class="intable1">1</td>
                        <td class="intable1">1</td>
                        <td class="intable1">1</td>
                    </tr>
                    <tr>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                        <td><br /></td>
                    </tr>
                </table>

            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="cardTY">
                        <h2 class="font3 editfont1">THANK YOU</h2>
                        <p class="font3 editfont2">
                            ทางเราจะรีบจัดส่งสินค้าให้เร็วที่สุด
                            กรุงเทพและปริมณฑล 1-2 วัน
                            ต่างจังหวัด 2-3 วัน
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card5">
                        <p class="font3 detailuser1">ราคารวม</p>
                        <p class="font3 detailuser3">001 บาท</p><br /><br />
                        <p class="font3 detailuser1">ค่าจัดส่ง</p>
                        <p class="font3 detailuser3">001 บาท</p><br /><br />
                        <p class="font3 detailuser1">ภาษีมูลค่าเพิ่ม</p>
                        <p class="font3 detailuser3">7%</p><br /><br />
                    </div>
                    <br />
                    <div class="cardprice">
                        <p class="font3 detailuser1">ราคาสุทธิ</p>
                        <p class="font3 fontprice">001 บาท</p><br /><br />
                    </div>
                </div>
            </div>
            <br /><br /><br />
            <hr class="line" /><br />
        </div>
        <br /><br /><br />
        <a class="payment">พิมพ์ใบเสร็จ</a>
        <a href="/Shop/Payment" class="payment">ชำระเงิน</a>><br /><br /><br /><br /><br /><br /><br />
    </div>
}
